* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(250, 249, 247);
    background: -moz-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    background: linear-gradient(135deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1', GradientType=1);
}

.cont_centrar {
    position: relative;
    width: 500px;
}

.cont_todo_list_top {
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: #434446;
    background: #abb0bd;
    background: -moz-linear-gradient(left, #434446 0%, #abb0bd 100%);
    background: -webkit-linear-gradient(left, #434446 0%, #abb0bd 100%);
    background: linear-gradient(to right, #434446 0%, #abb0bd 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7', GradientType=1);
    box-shadow: 1px 15px 25px -5px rgba(0, 0, 0, 0.3);
}

.cont_titulo_cont>h3 {
    letter-spacing: 2px;
    text-align: left;
    margin-left: 25px;
    letter-spacing: 7px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    margin-top: 23px;
}

.cont_titulo_cont {
    position: relative;
    float: left;
    width: 430px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.cont_add_titulo_cont {
    position: relative;
    margin-top: -30px;
    margin-left: 400px;
    width: 70px;
    height: 60px;
    border-radius: 5px;
    background: #e66767;
    background: -moz-linear-gradient(left, #e66767 0%, #ea8685 100%);
    background: -webkit-linear-gradient(left, #e66767 0%, #ea8685 100%);
    background: linear-gradient(to right, #e66767 0%, #ea8685 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7', GradientType=1);
    box-shadow: 5px 5px grey;
}

.cont_add_titulo_cont:active {
    width: 68px;
    height: 58px;
    box-shadow: 5px 5px grey;
}

.cont_add_titulo_cont span {
    position: absolute;
    transition: .5s;
}

.cont_add_titulo_cont span:first-of-type {
    top: 0%;
    bottom: 5%;
    width: 15%;
    left: 60%;
}

.cont_add_titulo_cont:hover span:first-of-type {
    transform: rotate(360deg);
}

.cont_add_titulo_cont>a {
    display: block;
    color: #fff;
    font-size: 32px;
    margin-top: 20px;
}

.cont_add_titulo_cont a img {
    margin-bottom: -20px;
    margin-left: -30px;
}

body {
    background: rgb(250, 249, 247);
    background: -moz-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    background: linear-gradient(135deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1', GradientType=1);
}

.cont_crear_new {
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* Propiedades Desactivadores */
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    height: 0px;
    margin: 0px;
}

.cont_crear_new_active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    height: 0px;
    margin: 10px 0px 0px;
    height: 190px;
    width: 500px;
}

.cont_add_titulo_cont>a>i {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.cont_add_titulo_cont_active>a>i {
    -webkit-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
}

.table th {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #596275;
}

.table td {
    margin-left: 0;
}

.table td select {
    padding: 10px 8px;
    background-color: #fff;
    box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.table td input {
    width: 95%;
    padding: 10px 2%;
    background-color: #fff;
    border: none;
    box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
    text-align: left;
    outline: none;
}

.hasDatepicker {
    font-size: 16px;
    padding: 8px!important;
    width: 100px !important;
}

.btn_add_fin {
    position: relative;
    padding: 10px 20px;
    background-color: #646569;
    border: none;
    margin: 10px auto;
    box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.btn_add_fin:active {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #646569;
    font-size: 14px;
    border: none;
    margin: 10px auto;
    box-shadow: 0px 3px 7px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.titl_description {
    padding-top: 10px;
    text-align: left;
    margin-left: 6%;
    position: relative;
    float: left;
}


/* .display_none_add {} */

.cont_princ_lists {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
}

.cont_princ_lists>ul>li {
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    left: 0;
    padding: 20px 0px 5px 0px;
    background-color: #F1F1EF;
    list-style: none;
    box-shadow: 1px 10px 20px 0px rgba(218, 215, 206, 0.8);
    z-index: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.col_md_1_list {
    width: 125px;
    position: relative;
    float: left;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}

.col_md_1_list>p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.col_md_2_list {
    width: 220px;
    position: relative;
    float: left;
    margin-top: 20px;
}

.col_md_2_list>h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-variant-caps: titling-caps;
}

.col_md_2_list>p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #999;
}

.col_md_3_list {
    width: 148px;
    position: relative;
    float: left;
    height: 14px;
    top: 40%;
    margin-top: -10px;
}

.col_md_3_list>.cont_text_date {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(92, 94, 97)
}

.col_md_3_list>.cont_text_date>p {
    text-align: left;
    margin-right: 10px;
}

.col_md_3_list:hover>.cont_btns_options {
    opacity: 1;
}

.col_md_3_list>.cont_btns_options {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #F1F1EF;
    width: 100%;
    height: 47px;
    top: 0px;
}

.col_md_3_list>.cont_btns_options>ul>li {
    position: relative;
    float: right;
    width: 100%;
    list-style-type: none;
}

.ui-datepicker-header {
    background-color: #abb0bd;
    color: #F1F1EF;
    padding: 10px;
}

.ui-icon-circle-triangle-w {
    float: left;
    font-size: 12px;
    margin-right: 40px;
}

.ui-icon-circle-triangle-e {
    float: right;
    font-size: 12px;
    margin-left: 40px;
}

.ui-datepicker-calendar {
    background-color: #999;
    color: #ea8685;
}

.ui-datepicker-calendar {
    color: #F1F1EF;
    padding: 10px;
    font-size: 15px;
}


/* .col_md_3_list>.cont_btns_options>ul>li:nth-child(1)>a {
    /*   background-color: #ef5350; */


/* } */

.col_md_3_list>.cont_btns_options>ul>li>a {
    display: block;
    width: 20px;
    height: 15px;
    background-color: rgb(92, 94, 97);
    padding: 5px 3px;
    border-radius: 50%;
    color: #fff;
    margin-top: -5px;
}

.col_md_3_list>.cont_btns_options>ul>li>a>i {
    font-size: 15px;
}

.list_dsp_none {
    display: none;
    opacity: 0;
    margin-top: 20px;
}

.list_dsp_true {
    margin: 0px;
    opacity: 1;
}

.list_work {
    z-index: 1;
}

.list_shopping>.col_md_1_list {
    border-left: 4px solid #e66767;
    color: #e66767;
}

.list_work>.col_md_1_list {
    border-left: 4px solid #2A476B;
    color: #2A476B;
}

.list_sport>.col_md_1_list {
    border-left: 4px solid #EF8A18;
    color: #EF8A18;
}

.list_music>.col_md_1_list {
    border-left: 4px solid #e66767;
    color: #e66767;
}

.list_finish_state {
    opacity: 0.3;
    margin: 15px 0px;
    z-index: 1;
}

.hidden {
    display: none;
}

.button_style {
    position: relative;
    float: right;
    padding: 2px;
    color: rgb(92, 94, 97);
    border: none;
    margin-right: 10px;
}

.button_style:hover {
    color: #e66767;
}

.invalid {
    border: 2px solid #ea8685 !important;
    box-shadow: 20px 10px 20px 0px rgba(#ea8685, 0.8)!important;
}

.item-header {
    text-align: left;
    margin-top: -15px;
    background-color: #F1F1EF;
    color: #434446;
}

.item-header button {
    float: right;
}

.left-time {
    margin-top: -18px;
    color: #434446;
    font-size: 14px;
    padding: 3px 10px;
}

.yellow {
    color: yellow;
}

#actionFilter {
    width: 25%;
    background-color: #646569;
    color: #F1F1EF;
    padding: 5px 10px;
    margin-top: 20px;
}

.action {
    float: left;
}

.timeleft {
    float: right;
}